############################################################################
#cr                                                                       
#cr            (C) Copyright 1995-2007 The Board of Trustees of the            
#cr                        University of Illinois                         
#cr                         All Rights Reserved                           
#cr                                                                       
############################################################################

############################################################################
# RCS INFORMATION:
#
#       $RCSfile: .vmdrc,v $
#       $Author: johns $        $Locker:  $                $State: Exp $
#       $Revision: 1.9 $      $Date: 2007/01/12 20:12:44 $
#
############################################################################
# DESCRIPTION:
#
# VMD startup script.  The commands here are executed as soon as VMD starts up
############################################################################

# turn on lights 0 and 1
light 0 on
light 1 on
light 2 on
light 3 on

# position the stage and axes
axes location lowerleft
stage location off

# position and turn on menus
menu main     move 5   225
menu display  move 395 30
menu graphics move 395 500
menu color    move 125 225
menu files    move 125 325
menu labels   move 125 525
menu render   move 125 525

menu main      on
#menu display  on
#menu graphics on
#menu color    on
#menu labels   on
#menu render   on
#menu files    on

display projection orthographic

user add key q exit
user add key x {mol delete [molinfo top]}
user add key n {menu files on}
user add key s {menu save on}
user add key p {menu graphics on}
user add key d {menu render on}
user add key u {menu rmsdtt on}
user add key v {menu sequence on}
user add key m {
  mol delrep [expr [molinfo top get numreps] - 1] [molinfo top]
}

user add key w {
  mol addrep [molinfo top]
  set repnum [expr [molinfo top get numreps] - 1]
  mol modstyle $repnum top CPK
  mol modcolor $repnum top Element
  mol modselect $repnum top not protein
}

user add key i {
  mol addrep [molinfo top]
  set repnum [expr [molinfo top get numreps] - 1]
  mol modstyle $repnum top CPK
  mol modcolor $repnum top Element
}

user add key a {
  mol addrep [molinfo top]
  set repnum [expr [molinfo top get numreps] - 1]
  mol modstyle $repnum top lines
  mol modcolor $repnum top index
  mol modselect $repnum top backbone and not name CB and not name O
}

proc vmdrestoremycolors {} {
color scale colors RWB {1.0 0.0 0.0} {1.0 1.0 1.0} {0.0 0.0 1.0}
color scale colors BWR {0.0 0.0 1.0} {1.0 1.0 1.0} {1.0 0.0 0.0}
color scale colors RGryB {1.0 0.0 0.0} {0.5 0.5 0.5} {0.0 0.0 1.0}
color scale colors BGryR {0.0 0.0 1.0} {0.5 0.5 0.5} {1.0 0.0 0.0}
color scale colors RGB {1.0 0.0 0.0} {0.0 1.0 0.0} {0.0 0.0 1.0}
color scale colors BGR {0.0 0.0 1.0} {0.0 1.0 0.0} {1.0 0.0 0.0}
color scale colors RWG {1.0 0.0 0.0} {1.0 1.0 1.0} {0.0 1.0 0.0}
color scale colors GWR {0.0 1.0 0.0} {1.0 1.0 1.0} {1.0 0.0 0.0}
color scale colors GWB {0.0 1.0 0.0} {1.0 1.0 1.0} {0.0 0.0 1.0}
color scale colors BWG {0.0 0.0 1.0} {1.0 1.0 1.0} {0.0 1.0 0.0}
color scale colors BlkW {0.0 0.0 0.0} {0.5 0.5 0.5} {1.0 1.0 1.0}
color scale colors WBlk {1.0 1.0 1.0} {0.5 0.5 0.5} {0.0 0.0 0.0}
color scale method RWB
  set colorcmds {
    {color Display {Background} black}
    {color Display {BackgroundTop} black}
    {color Display {BackgroundBot} blue2}
    {color Display {FPS} white}
    {color Name {LPA} green}
    {color Name {LPB} green}
    {color Type {LP} green}
    {color Type {DRUD} pink}
    {color Element {X} cyan}
    {color Element {Ac} ochre}
    {color Element {Ag} ochre}
    {color Element {Al} ochre}
    {color Element {Am} ochre}
    {color Element {Ar} ochre}
    {color Element {As} ochre}
    {color Element {At} ochre}
    {color Element {Au} ochre}
    {color Element {B} ochre}
    {color Element {Ba} ochre}
    {color Element {Be} ochre}
    {color Element {Bh} ochre}
    {color Element {Bi} ochre}
    {color Element {Bk} ochre}
    {color Element {Br} ochre}
    {color Element {Ca} ochre}
    {color Element {Cd} ochre}
    {color Element {Ce} ochre}
    {color Element {Cf} ochre}
    {color Element {Cl} ochre}
    {color Element {Cm} ochre}
    {color Element {Co} blue}
    {color Element {Cr} ochre}
    {color Element {Cs} ochre}
    {color Element {Cu} ochre}
    {color Element {Db} ochre}
    {color Element {Ds} ochre}
    {color Element {Dy} ochre}
    {color Element {Er} ochre}
    {color Element {Es} ochre}
    {color Element {Eu} ochre}
    {color Element {F} ochre}
    {color Element {Fe} ochre}
    {color Element {Fm} ochre}
    {color Element {Fr} ochre}
    {color Element {Ga} ochre}
    {color Element {Gd} ochre}
    {color Element {Ge} ochre}
    {color Element {H} iceblue}
    {color Element {He} ochre}
    {color Element {Hf} ochre}
    {color Element {Hg} ochre}
    {color Element {Ho} ochre}
    {color Element {Hs} ochre}
    {color Element {I} ochre}
    {color Element {In} ochre}
    {color Element {Ir} ochre}
    {color Element {K} ochre}
    {color Element {Kr} ochre}
    {color Element {La} ochre}
    {color Element {Li} ochre}
    {color Element {Lr} ochre}
    {color Element {Lu} ochre}
    {color Element {Md} ochre}
    {color Element {Mg} ochre}
    {color Element {Mn} ochre}
    {color Element {Mo} ochre}
    {color Element {Mt} ochre}
    {color Element {Na} ochre}
    {color Element {Nb} ochre}
    {color Element {Nd} ochre}
    {color Element {Ne} ochre}
    {color Element {Ni} cyan}
    {color Element {No} ochre}
    {color Element {Np} ochre}
    {color Element {O} red}
    {color Element {Os} ochre}
    {color Element {Pa} ochre}
    {color Element {Pb} ochre}
    {color Element {Pd} tan}
    {color Element {Pm} ochre}
    {color Element {Po} ochre}
    {color Element {Pr} ochre}
    {color Element {Pt} silver}
    {color Element {Pu} ochre}
    {color Element {Ra} ochre}
    {color Element {Rb} ochre}
    {color Element {Re} ochre}
    {color Element {Rf} ochre}
    {color Element {Rg} ochre}
    {color Element {Rh} ochre}
    {color Element {Rn} ochre}
    {color Element {Ru} iceblue}
    {color Element {Sb} ochre}
    {color Element {Sc} ochre}
    {color Element {Se} ochre}
    {color Element {Sg} ochre}
    {color Element {Si} ochre}
    {color Element {Sm} ochre}
    {color Element {Sn} ochre}
    {color Element {Sr} ochre}
    {color Element {Ta} ochre}
    {color Element {Tb} ochre}
    {color Element {Tc} ochre}
    {color Element {Te} ochre}
    {color Element {Th} ochre}
    {color Element {Ti} ochre}
    {color Element {Tl} ochre}
    {color Element {Tm} ochre}
    {color Element {U} ochre}
    {color Element {V} ochre}
    {color Element {W} ochre}
    {color Element {Xe} ochre}
    {color Element {Y} ochre}
    {color Element {Yb} ochre}
    {color Element {Zr} ochre}
    {color Resname {} silver}
    {color Chain {X} blue}
    {color Segname {} blue}
    {color Conformation {all} blue}
    {color Structure {3_10_Helix} blue}
    {color Surface {Grasp} gray}
    {color Labels {Bonds} white}
    {color Labels {Springs} orange}
    {color Stage {Even} gray}
    {color Stage {Odd} silver}
  }
    foreach colcmd $colorcmds {
    set val [catch {eval $colcmd}]
  }
}
vmdrestoremycolors
# start the scene a-rockin'
# rock y by 1

# User's default values for newly loaded molecules/reps, etc
  mol default color {Structure}
  mol default style {NewCartoon}
#  mol default selection {name CA}
#  mol default material {Transparent}


